@page "/"

@if(IsLoose || IsWin)
{
    <div class="toast  show position-absolute top-0 end-0" role="alert" aria-live="assertive" aria-atomic="true"
    style="right: -300px !important;">
        <div class="toast-header text-white @Toast.ToastColor">
            <img src="./img/2048.png" style="width:13px;" class="rounded me-2" alt="...">
            <strong class="me-auto">2048 Game</strong>
            <small></small>
            <button type="button" class="btn-close" aria-label="Close" @onclick=CloseToast></button>
        </div>
        <div class="toast-body">
            @Toast.ToastMessage
        </div>
    </div>
}


<div class="game-container" tabindex="0" autofocus @onkeyup=Play>

    <div class="scoreContainer">
        <div class="header">2048 GAME</div>
        <div id="score-contents">
            <div class="score-content">
                <span class="scoreTitle">Target</span>
                <span class="score" id="targetScore">@TargetScore</span>
            </div>
            <div class="score-content">
                <span class="scoreTitle">Score</span>
                <span id="score" class="score">@Score</span>
            </div>
        </div>

    </div>

    <div class="grid">
        @foreach (var item in Squares)
        {
            <div style="color:@GetColor(item);background: @GetBgColor(item)">
                @(item != 0 ? item : "")
            </div>
        }
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        try
        {
            CreateBoard();
        }
        catch (Exception e)
        {
            throw;
        }
    }
}